/* section blo3 artistes */
#bloc3 {
	background-color: rgba(16,16,16,0.8);
	height: auto;
	width: 100%;
}

.artistBox {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.coyoteArtist, .tiezoArtist{
	width: 50%;
	height: auto;
}

@keyframes AutoSlide {
	0% {
		left: 0px; /*1ère image*/
	}
	10% {
		left: 0px; /*idem pour attente*/
	}
	20% {
		left: -403px; /*2ème image*/
	}
	30% {
		left: -403px; /*idem pour attente*/
	}
	40% {
		left: -806px; /*3ème image*/
	}
	50% {
		left: -806px; /*idem pour attente*/
	}
	60% {
		left: -1209px; /*4ème image*/
	}
	70% {
		left: -1209px; /*idem pour attente*/
	}
	80% {
		left: -1612px; /*5ème image*/
	}
	90% {
		left: -1612px; /*idem pour attente*/
	}

	100% {
		left: 0px; /*1ère image*/
	}
}

.coyoteImg, .tiezoImg{
	width: 400px;
	height: 400px;
	filter: grayscale(100%);
    transition: .3s ease-in-out;
}
.coyoteImg:hover, .tiezoImg:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

#coyoteSliderBox, #tiezoSliderBox{
	position: relative;
	overflow: hidden;
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
    box-shadow: 8px 8px 10px black;
}
#sCoyoteContent li, #sTiezoContent li {
	display: inline;
	margin: 0;
	padding: 0;
}

#sCoyoteContent, #sTiezoContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 2400px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.coyoteArticle, .tiezoArticle {
	margin-bottom: 50px;
	text-align: justify;
}

.coyoteArticle h2, .tiezoArticle h2 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2em;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 25px;
	}

.coyoteArticle p, .tiezoArticle p {
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 1px;
    color: thistle;
}