body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #242323;
}


.artistCard1 h2,
.artistCard2 h2 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.2em;
    margin-top: 0;
    padding-top: 3%;
    padding-left: 3%;
    color: thistle;
}

.artistCard1 p,
.artistCard2 p {

    padding-left: 4%;
    padding-right: 4%;
    letter-spacing: 1%;
    color: thistle;
}

.artistContent {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artistCard1 {
    width: 100%;
    height: 100%;
    margin-left: 7%;
    margin-right: 5%;
    padding-top: 2%;
   

}

.artistCard2 {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-right: 7%;
    padding-top: 2%;
}




.artistArticle {
    position: sticky;
    margin-top: 0;
    padding-top: 0;
    background: transparent;
    font-family: Hserif;

}

.artistPicture {

    width: 100%;
    margin-left: 7%;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

.artistPicture:hover {
    filter: grayscale(0);
    transform: scale(1.05);
}

.slider {
    width: 514px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0;
}

.slides {
    width: calc(514px * 3);
    animation: glisse 25s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    33% {
        transform: translate(-514px);
    }

    43% {
        transform: translateX(-514px);
    }

    66% {
        transform: translateX(-1028px);
    }

    76% {
        transform: translateX(-1028px);
    }

    100% {
        transform: translateX(0);
    }
}