html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h2
{
    font-family: Roboto;
    letter-spacing: 0.2em;
    font-weight: 900;
}
/*BLOC 2 - NEW ALBUM */

#newalbum {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #E7BC87;

}

#newalbum-left {

    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

#imgCoyoteDetourage {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    opacity: 5;
    padding-top: 6%;
    padding-left: 20%;
}

#imgCoyoteDetourage {
    width: 651px;
    height: 474px;
}

#newalbum-left p {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 100%;
    height: 30%;
    font-size: 18px;
    text-align: justify;
}

#newalbum-right {
    display: inline;
    justify-content: center;
    width: 50%;
    height: 100%;

}

#vignettealbum img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#title-newalbum {

    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 10%;
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


#lecteur {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    width: 50%;
}