body, html {
    margin: 0;
    padding: 0;
}

/* Bloc 4 - Formulaire */

#bloc4 {
    background-color: #242323;
    width: 100%;
    height: 100%;
}

.contactUs h2 {
    font-family: 'Roboto Slab', serif;
    color: antiquewhite;
    letter-spacing: 0.2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}    

/* styles formulaire de contact */

.contactUs {
    padding-top: 20px;
    text-align: center;
    height: auto;
}


.lastname, .firstname, .email, .phoneForm, .message  {
    background: #E53411;
    border: 1px solid  #FFF;
    margin-bottom: 10px;
    padding-right: 0;
}

.lastname:hover, .firstname:hover, .email:hover, .phoneForm:hover, .message:hover  {
    border: 2px solid  #FFF;
    box-sizing: border-box;
}

.lastname::placeholder, .firstname::placeholder, .email::placeholder, .phoneForm::placeholder {
    color: #FFF;
    font-weight: bold;
}

.lastname, .firstname, .email, .phoneForm {
    height: 30px;
    width: 300px;
    box-sizing: border-box;
}

.message{
    height: 300px;
    width: 604px;
    color: #FFF;
    resize: none;
    box-sizing: border-box;
}

.submitButton {
    border: 0;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    color: #000;
    background: antiquewhite;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}

.submitButton:hover {
    border: 2px solid #E53411;
}


/* Styles carte et adresse */

.map {
    display: flex;
    align-content: center;
}

.googleMap {
    margin-left: 210px;
    padding-bottom: 50px;
}

.socials img {
    width: 50px;
    height: 50px;
}

.socials {
    margin: 33px auto 33px 40px; 
    /* margin-top: 33px; */
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
    
.soundcloud {
     grid-area: 1 / 1 / 2 / 2;
}

.facebook {
    grid-area: 1 / 2 / 2 / 3;
}

.instagram {
    grid-area: 2 / 1 / 3 / 2;
}

.twitter {
    grid-area: 2 / 2 / 3 / 3;
}