body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242323;
}

.contactUs h2 {
    font-family: 'Roboto Slab', serif;
    color: antiquewhite;
    letter-spacing: 0.2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}    

/* styles formulaire de contact */

.contactUs {
    text-align: center;
    height: auto;
}


.lastname, .firstname, .email, .phoneForm, .message  {
    background: #E53411;
    border: 1px solid  #FFF;
    margin-bottom: 10px;
    padding-right: 0;
}

.lastname:hover, .firstname:hover, .email:hover, .phoneForm:hover, .message:hover  {
    border: 2px solid  #FFF;
}

.lastname::placeholder, .firstname::placeholder, .email::placeholder, .phoneForm::placeholder {
    color: #FFF;
    font-weight: bold;
}

.lastname, .firstname, .email, .phoneForm {
    height: 30px;
    width: 300px;
}

.message{
    height: 300px;
    width: 608px;
    color: #FFF;
}

.submitButton {
    border: 0;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    color: #000;
    background: antiquewhite;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}

.submitButton:hover {
    border: 2px solid #E53411;
}
