html, body {
    height: 100%;
    width: 100%;
}



/* bar de navigation sticky */
.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0;
    margin-top: 10%;
    list-style-type: none;
    overflow: hidden;
    /* background-color:rgba(16,16,16,0.8);
    position: -webkit-sticky; /* Safari */
    /* box-shadow: 2px 2px 2px 2px black;  */
  }
  .navItem {
    font-size: 20px;
    float: right;
  }
  .navItem a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-radius: 5px;
  }
  .navItem a:focus {
    /* background-color:#151515; */
    /* opacity: 0.8;
    color: #c87c60 */
  }
  .navItem a:hover {
    /* background-color:#202020;
    opacity: 0.8; */
  }
  .navItem a:active {
    /* background-color:#252525;
    opacity: 0.8; */
  }