html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white
}

video {
  position: relative;
  z-index: 2;
  margin-left: 8%;
  height: 84%;
  width: 84%;
}
 img {
   height: 100%;
   width: 100%;
 }

.titleBG {
  transform: rotate(4deg);
  position: absolute;
  z-index: 3;
  height: 20%;
  width: 60%;
  bottom: 8%;
  left: 2%;
  font-size: 100px;
  color: rgba(150, 145, 145, 0.2);
}

.navBar {
  list-style-type: none;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(16,16,16,0.2);
  position: -webkit-sticky; /* Safari */
  box-shadow: 2px 2px 2px 2px black;
  position: sticky;
  top: 0px;
}

.navBar li {
  float: right;
}

.navBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 5px;
}
.navBar a:focus {
  background-color:#151515;
  opacity: 0.8;
  color: #c87c60
}
.navBar a:hover {
  background-color: #111;
  opacity: 0.8;
}
.navBar a:active {
  background-color:#252525;
  opacity: 0.8;
}
