html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Anton', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* Vide en bg page de garde */
video {
  position: relative;
  z-index: 2;
  margin-left: 8%;
  height: 84%;
  width: 84%;
}
/* Box Text par dessus la video */
.textLabelBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  height: auto;
  width: 100%;
  left: 0;
  top: 45%;
  background-color:  rgba(16,16,16, 0.3);
  box-shadow: 2px 2px 2px 2px black;
  color: rgba(255, 255, 255, 0.5);
  
}
.textLabelBox h2, .textLabelBox h3, .textLabelBox p {
  
  margin: 0;
  padding: 0;
}


/* titre superposé à  la video */
#titleBG {
  float: left;
  font-size: 100px;
  padding-left: 150px;
  opacity: 0.6;
}
.titleColor {
  color: #ac7241;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
}
#subTitleBG {
  float: right;
  font-size: 60px;
  padding-right: 150px;
  margin-bottom: 10px;
}
#textBG {
  z-index: 5;
  position: absolute;
  width: 64%;
  left: 18%;
  bottom: 45px;
  text-align: center;
  font-size: 20px;
  color: #808080;
  font-family: Helvetica, sans-serif;
}


/* bar de navigation mode sticky*/
.navBar {
  z-index: 50;
  list-style-type: none;
  height: auto;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(16,16,16,0.8);
  position: -webkit-sticky; /* Safari */
  box-shadow: 2px 2px 2px 2px black;
  position: sticky;
  top: 0;
}
.navBar li {
  float: right;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}
.navBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 5px;
}
.navBar a:focus {
  background-color:#151515;
  opacity: 0.8;
  color: #c87c60
}
.navBar a:hover {
  background-color: #111;
  opacity: 0.8;
}
.navBar a:active {
  background-color:#252525;
  opacity: 0.8;
}


/* Section footer */
footer ul {
  z-index: 5;
  text-align: center;
  height: 100px; 
  list-style-type: none;
  background-color:  black;
  box-shadow: 2px 2px 2px 2px black;
  margin: 0;
  padding: 0%;
}
footer a {
  font-size: 50px;
  
}
.footerLink {
  height: 30px;
  width: auto;
}
